html, #maincontainer {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	transition: opacity 500ms;
}

#maincontainer, #navbar {
	position: absolute;
}

/*****************************************************************************/
/**************************MAIN CONTAINER CSS STYLE***************************/
/*****************************************************************************/
#maincontainer > div {
	width: 100%;
	/* height: 100%; 	setting the height to any specific value creates problems */
}

h3 {
	margin-top: 0;
	font-weight: normal; /* no bold */	
	font-size: 18px;
	letter-spacing: 3px;
}
#postcontainer { 
	width: 550px;
	height: 35vh;
	margin: 0px auto; /* fills the rest of the width with side margins */
	position: relative;
}
blockquote {
	width: 100%;
	margin: 0;	
	text-align: left;
	bottom: 0;
	position: absolute;
}
blockquote > p {
	margin-bottom: 1vh;
}
blockquote footer {
	text-align: right;
}

/*****************************************************************************/
/**************************NAVIGATION BAR CSS STYLE***************************/
/*****************************************************************************/

#navbar {
	top: 0;
	right: 0;
}
ul {
	list-style-type: none;
	margin: 0 20px 0 0;
	padding: 0;
	overflow: hidden;
	float: right;
}
li {
	/* don't put float:right here! will reverse the order of items*/
	display: inline-block;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 20px 15px;
	text-decoration: none;
	/* transition: color 0.1s;
    -webkit-transition: color 0.1s; */
}
li a:hover {
	font-weight: bold;
	/* text-decoration: underline; */
}
.noselect { /* http://stackoverflow.com/a/4407335 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.overlay {
	position: relative;
}
.overlay:after {
	content:'';
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	background: url(img/under-construction.svg);
	background-size: 100% 100%;
	opacity: 0;
	/* transition: all 0.1s;
    -webkit-transition: all 0.1s; */
}
.overlay:hover:after {
	opacity: 1;
}
.overlay:hover a {
	color: transparent;
}